<h2>Kontak Detail</h2>
<div>
    <label for="">ID</label>
    <div class="form-control" style="display:flex; align-items:center;">{{contact.id}}</div>
</div>
<div>
    <label for="">Nama</label>
    <!-- Pemberian directive ngModel untuk two way databinding -->
    <input type="text" name="name" class="form-control" [(ngModel)]="contact.name">
</div>
<div>
    <label for="">Email</label>
    <input type="text" name="email" class="form-control" [(ngModel)]="contact.email">
</div>
<div>
    <label for="">Telepon</label>
    <input type="text" name="phone" class="form-control" [(ngModel)]="contact.phone">
</div>
<div>
    <!-- Binding event onSave -->
    <button type="button" class="btn-save" (click)="onSaveContact()">SIMPAN</button>
    <button type="button" class="btn-cancel" (click)="onCancelSave()">BATAL</button>
</div>
<div style="margin-top: 20px;">
    {{contact | json}}
</div>

<style>
    h2 {
        color: #0069c0;
        margin-bottom: 20px;
        border-bottom: solid 1px #ccc;
        padding-bottom: 10px;
    }

    label {
        display: block;
    }

    .form-control {
        width: 240px;
        height: 30px;
        border: solid 1px #ccc;
        border-radius: 4px;
        padding: 4px 10px;
        margin: 10px 0;
    }

    .btn-save {
        width: 150px;
        height: 36px;
        border-radius: 4px;
        border: solid 1px #0069c0;
        background: #0069c0;
        color: white;
        font-weight: 700;
        margin-right: 10px;
    }

    .btn-cancel {
        width: 150px;
        height: 36px;
        border-radius: 4px;
        border: solid 1px #eee;
        background: #aaa;
        color: white;
        font-weight: 700;
    }
</style>